@model IEnumerable<TechXpress.Models.Dto_s.ProductDTO>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image -->
                        <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name" />
                        <!-- Product details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name -->
                                <h5 class="fw-bolder">@product.Name</h5>
                                <!-- Product price -->
                                $@product.Price
                            </div>
                        </div>
                        <!-- Product actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="@Url.Action("Details", "Products", new { id = product.Id })">View options</a>
                                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                </div>
            }
        </div>
    </div>
</section>